/* this code by @mxbialostocki // www.mattbialostocki.com */
/* killkist kreydy by the priestess of the outer church */
html {
  font-family: 'Roboto Mono', monospace;
  font-size: 8px;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(95, 255, 255, 1);
}
@font-face {
  font-family: 'Roboto Mono', monospace;
  src: url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700&amp;subset=cyrillic")
}
h4 {
  justify-content: space-between;
  text-align: justify;
  letter-spacing: 1.1rem;
}
.killkistbody {
  line-height: 1.4rem;
}
.kkbody {
  display: flex;
  max-width: 100%;
  padding: 20px;
}
.kkphrase {

}
